

.container
{
    padding-top: 7em;
   
    width: 5000px;
}

.pending
{
    color: gray;
    font-size: 24px;
}

.correct
{
    color: lightgreen;
    font-size: 24px;
}

.incorrect
{
    color: red;
    font-size: 24px;

}

.field {
    padding-bottom: 1em;
    padding-right: 2em;
    padding-left: 2em;

}

.spaced {
    padding-bottom: 1em;
    
}
.landing {
    padding-top: 1em;
    font-weight: bold;
    font-size: 52px;
}
.eqWidth {
    width: 150px;
}


.hero.is-info {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://unsplash.it/1200/900?random) no-repeat center center fixed;
    background-size: cover;
}

